<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./tailwind.js"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <title>Main</title>

    <div class="menu">
        <div class="min-h-full">
            <nav class="bg-gradient-to-r from-purpledark to-bluedark">
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                    <div class="flex h-16 items-center justify-between">
                        <div class="flex items-center">
                            <div class=" h-20 flex  flex-col text-white">
                                <img src="img\logo.svg" class="left  w-24 h-24" alt="">
                            </div>
                            <div class="hidden md:block">
                                <div class="ml-10 flex items-baseline space-x-4">
                                    <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-lg font-medium"
                                        aria-current="page">Gêneros</a>
                                </div>
                            </div>
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-4 flex items-center md:ml-6">
                                <button type="button">
                                    <img class="h-14 w-14 rounded-full bg-white" src="img\perfil.png" alt="">
                                </button>

                                <div class="ml-6 flex items-center md:ml-6">
                                    <a href="index.html"> <button
                                            class="rounded-full bg-gray-800 text-white hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                                            <span class="material-symbols-outlined m-auto p-2 text-4xl">logout</span></button>
                                    </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</head>

<body class="bg-dark mx-auto min-w-max top-0">
    <div class="pt-28"></div>
    <a class="text-white text-xl">Destaques</a>
    <div class="container flex justify-center items-center">
        <div class="items-center p-4">
            <div class="grid-container-1">
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <a href="content.html"> <button ><img src="img\lol.png" alt="Imagem capa lol">
                            <a class="text-white text-lg "><strong>League of legends</strong></a></button>
                    </a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img\fortnite.jpg" alt="Imagem capa fortnite" >
                    <a href="TelaFortnite.html" class="text-white text-lg flex items-center flex-col"><Strong>Fortnite</Strong></a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="https://assets.nuuvem.com/image/upload/v1/products/5e49d770d597ec0f96e130bd/sharing_images/tmffdu3gugeb5al41qil.jpg" alt="Imagem capa lol">
                    <a href="Zelda.html" class="text-white text-lg "><strong>The Legend of Zelda: Breath of the Wild</strong></a>
                </div>

            </div>
        </div>
    </div>

    <a class="text-white text-xl
    ">Mais recentes</a>
    <div class="container flex justify-center items-center">
        <div class="items-center p-4">
            <div class="grid-container-2">
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img\fortnite.jpg" alt="Imagem capa fortnite">
                    <a class="text-white text-lg ">Título da resenhaaaaaaaaaaaa</a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img\lol.png" alt="Imagem capa lol">
                    <a class="text-white text-lg ">Título da resenhaa</a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img\fortnite.jpg" alt="Imagem capa fortnite">
                    <a class="text-white text-lg flex items-center flex-col">Título da resenha</a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img\lol.png" alt="Imagem capa lol">
                    <a class="text-white text-lg ">Título da resenha</a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img\fortnite.jpg" alt="Imagem capa fortnite">
                    <a class="text-white text-lg flex items-center flex-col">Título da resenha</a>
                </div>
            </div>
        </div>
    </div>

    <a class="text-white text-xl">Todas</a>
    <div class="container flex justify-center items-center">
        <div class="items-center p-4">
            <div class="grid-container-2 mb-6">
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img\fortnite.jpg" alt="Imagem capa fortnite">
                    <a href="TelaFortnite.html" class="text-white text-lg "><strong>fortnite</strong></a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img\lol.png" alt="Imagem capa lol">
                    <a href="content.html" class="text-white text-lg "><strong>League of legends</strong></a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img/zelda.jpn.jpg" alt="Imagem capa fortnite">
                    <a href="Zelda.html" class="text-white text-lg flex items-center flex-col"><strong>The Legend of Zelda: Breath of the Wild</strong></a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img/thelastus.webp" alt="Imagem capa lol">
                    <a href="TelaThelast.html" class="text-white text-lg "><strong>the last of us parte 2</strong></a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img/Readdead.jpg" alt="Imagem capa fortnite">
                    <a href="TelaReaddead.html" class="text-white text-lg flex items-center flex-col"><strong>read dead redenption 2</strong></a>
                </div>
            </div>
            <div class="grid-container-2 mb-6">
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img/god-of-war-2018-004-1060x596.jpg" alt="Imagem capa god of war">
                    <a href="TelaGod.html" class="text-white text-lg "><strong>God of war</strong></a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img/gta.jpg" alt="Imagem capa lol">
                    <a href="TelaGta.html" class="text-white text-lg "><strong>grand theft auto v</strong></a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img/eldenring.jpg" alt="Imagem capa fortnite">
                    <a href="TelaElden.html" class="text-white text-lg flex items-center flex-col"><strong>Elden ring</strong></a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img/VALORANT.jpg" alt="Imagem capa valorant">
                    <a href="TelaValorant.html" class="text-white text-lg "><strong>Valorant</strong></a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img/Spider_Man_Miles_Morales.jpg" alt="Imagem capa Spider">
                    <a href="TelaSpider.html" class="text-white text-lg flex items-center flex-col"><strong>Spider-Man Miles Morales</strong></a>
                </div>
            </div>
            <div class="grid-container-2 mb-6">
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img  src="img/sea_of_thieves.png" alt="Imagem capa sea of thiefs">
                    <a href="TelaSea.html" class="text-white text-lg "><strong>sea of thieves</strong></a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img/Batman.jpg" alt="Imagem capa lol">
                    <a href="TelaBatman.html" class="text-white text-lg "><strong>batman arkham knight</strong></a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img/rainbowsixsiege.jpeg" alt="Imagem capa fortnite">
                    <a href="TelaRaibom.html" class="text-white text-lg flex items-center flex-col"><strong>Rainbow Six Siege</strong></a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img/DeadByDaylight.jpeg" alt="Imagem capa lol">
                    <a href="TelaDead.html" class="text-white text-lg "><strong>dead by day light</strong></a>
                </div>
                <div class="grid-item bg-gray hover:bg-lightgray p-2">
                    <img src="img/Phasmophobia.jpg" alt="Imagem capa fortnite">
                    <a href="TelaPhasmophobia.html" class="text-white text-lg flex items-center flex-col"><strong>Phasmophobia</strong></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
