body{
    background-image: url('img\background_login.jpeg');

}

.menu-principal{
    width: 100%;
    height: 60px;
}

main{
    
    margin: 0 auto;
    width: 980px;
    float: center;
    position: relative;
}

.logo{
    padding: 5px ;
}

.background{
    height: 100%;
    width: 100%;
}